/*
    Colors-
        Black: #020204  (02,02,04)
        Dark Grey: #22222A  (34,34,42)
        Medium Grey: #46413B    (70,65,59)
        Light Grey: #BEBBB6 (190,187,182)
        White: #F7F7F5  (247,247,245)
*/
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200|Dancing+Script|Shadows+Into+Light');

* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/*    Banner     */

#banner {
    height: 100%;
    width: 100%;
    background-image: url(../img/webpages/mountains-clouds-background-photography-fotophilous.jpg);
    background-size: cover;
    background-position: 0px 0px;
}

#banner-text {
    height: 100%;
    width: 100%;
    background-color: rgba(34,34,42,0.7);
}

#banner-text h1 {
    height: 100px;
    width: 350px;
    color: #F7F7F5;
    font-size: 80px;
    font-family: 'Dancing Script';
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 45%;
    left: calc(50% - 175px);
}

#banner-text a {
    border: 2px solid #BEBBB6;
    height: 25px;
    width: 40px;
    padding-top: 5px;
    text-align: center;
    display: block;
    color: #BEBBB6;
    text-decoration: none;
    position: absolute;
    top: 92%;
    left: calc(50% - 20px);
    transition: 500ms;
    animation: chevronGlow 500ms ease-in-out infinite;
}

#banner-text a:hover {
    border: 2px solid #F7F7F5;
    color: #F7F7F5;
}

@keyframes chevronGlow {
    0% { border: 2px solid #BEBBB6; color: #BEBBB6; }
    50% { border: 2px solid #F7F7F5; color: #F7F7F5; }
}

/*    Banner Ends     */

/*    About     */

#about {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #F7F7F5;
    padding-bottom: 50px;
    font-family: 'Yanone Kaffeesatz';
}

#about #about-header {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 140%;
    text-align: center;
}

#about p {
    text-align: justify;
    font-size: 110%;
}

#about h2 {
    width: 90%;
    margin: auto;
}

#about .about-half {
    height: 100%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
    float: left;
}

#about #about-right {
    margin-top: 4%;
}

#about #about-right #self-image {
    height: 85vh;
    width: 45vw;
    margin: auto;
    background-image: url(../img/shashank-jain-photographer-self-portrait-black.jpg);
    background-size: cover;
}

/*    About Ends     */

/*    Portfolio     */

#portfolio {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #22222A;
    font-family: 'Yanone Kaffeesatz';
    color: #F7F7F5;
    padding-bottom: 70px;
}

#portfolio #portfolio-header {
    text-align: center;
    font-size: 140%;
    padding-top: 60px;
    padding-bottom: 50px;
}

#portfolio #portfolio-content {
    height: auto;
    width: 90%;
    margin: auto;
}

#portfolio #portfolio-content .column {
    float: left;
    overflow: hidden;
}

#portfolio #portfolio-content .column-third  {
    height: auto;
    width: 35%;
}

#portfolio #portfolio-content .column-half {
    height: auto;
    width: 30%;
}

#portfolio #portfolio-content .column figure {
    min-height: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#portfolio #portfolio-content .column figure:hover img {
    transform: scale(1.2);
}

#portfolio #portfolio-content .column figure:hover figcaption {
    opacity: 1;
    background-color: rgba(0,0,0,.4);
}

#portfolio .column img {
    min-height: 320px;
    width: 100%;
    transform: scale(1);
    transition: 150ms ease-in-out;
}

#portfolio .column figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px black;
    transition: 150ms ease-in-out;
    opacity: 0;
    background-color: rgba(0,0,0,.2);
}

#portfolio .column-third figcaption {
    padding-top: 35%;
    height: 60%;
}

#portfolio .column-half figcaption {
    padding-top: 60%;
    height: 60%;
}

/*    Portfolio Ends     */

/*    Break     */

#break {
    height: auto;
    width: 100%;
    background-image: url(../img/webpages/nature-travel-clouds-bnw-black-white.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#break #break-inner {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    padding-bottom: 70px;
}

#break #social-header {
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 140%;
    font-family: 'Yanone Kaffeesatz';
    color: #22222A;
}

#break #social {
    min-height: 150px;
    height: auto;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#break #social a {
    text-decoration: none;
    color: #BEBBB6;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    text-align: center;
    background-color: #22222A;
}

#break #social i {
    font-size: 80px;
    margin-top: 25px;
}

/*    Break Ends     */

/*    Footer     */

footer {
    min-height: 30%;
    height: auto;
    width: 100%;
    background-color: #020204;
}

footer #tags-header {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 140%;
    font-family: 'Yanone Kaffeesatz';
    color: #BEBBB6;
}

footer #tags-1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

footer #tags-2 {
    padding-bottom: 30px;
}

footer .tags {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Yanone Kaffeesatz';
}

footer .tags a {
    border: 2px solid #BEBBB6;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #BEBBB6;
    border-radius: 10px;
    transition: 0.5s linear;
}

footer .tags a:hover {
    background-color: #BEBBB6;
    color: #46413B;
}

footer #footer-content {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

footer #footer-content h2 a {
    text-decoration: none;
    font-family: 'Dancing Script';
    font-size: 200%;
    color: #BEBBB6;
    margin-left: 70px;
    padding: 10px 20px 10px 20px;
}

footer #footer-content h3 {
    font-family: 'Yanone Kaffeesatz';
    color: #46413B;
    font-size: 200%;
    margin-left: 20px;
}

/*    Footer Ends     */