@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    overflow: hidden;
}

html,body {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Yanone Kaffeesatz';
}

#back {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
}

.spinner {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 30%;
    left: calc(50% - 75px);
    border-radius: 50%;
    background-color: #eee;
    border: 5px solid transparent;
}

.spinner::before, .spinner::after {
    content: '';
    display: block;
}

.spinner::before {
    border: 5px solid transparent;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
    animation: spin 1500ms linear infinite;
}

.spinner::after {
    border: 5px solid transparent;
    border-left-color: deepskyblue;
    border-right-color: deepskyblue;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -15px;
    animation: spin 1500ms linear infinite reverse;
}

@keyframes spin {
    0% {transform: rotateZ(0deg) scale(1);}
    40% {transform: rotateZ(180deg) scale(1);}
    50% {transform: rotateZ(180deg) scale(0.6);}
    90% {transform: rotateZ(360deg) scale(0.6);}
    100% {transform: rotateZ(360deg) scale(1);}
}

.loader {
    background-color: #eee;
    height: 20px;
    width: 70%;
    position: absolute;
    top: 80%;
    left: 15%;
}

.loader::after {
    content: '';
    height: 20px;
    width: 0%;
    background-color: red;
    display: block;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #FF0111, 0 0 6px #FF0111, 0 0 8px #FF0111, 0 0 10px #FF0111, 0 0 12px #FF0111;
    animation: loader 3s 1s linear forwards, glow 500ms ease-in-out infinite alternate;
}

@keyframes loader {
    0% {width: 2%;}
    30% {width: 38%;}
    60% {width: 41%;}
    75% {width: 68%;}
    90% {width: 70%;}
    100% {width: 100%;}
}

@keyframes glow {
    from { box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #FF0111, 0 0 6px #FF0111, 0 0 8px #FF0111, 0 0 10px #FF0111, 0 0 12px #FF0111; }
    to { box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #FF0111, 0 0 12px #FF0111, 0 0 16px #FF0111, 0 0 20px #FF0111, 0 0 24px #FF0111; }
}

.load {
    display: flex;
    height: 80px;
    width: 380px;
    margin: auto;
    padding-left: 10px;
    position: absolute;
    top: 65%;
    left: calc(50% - 190px);
}

.load .text {
    font-size: 60px;
    font-family: monospace;
}

.blue {
    color: steelblue;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px dodgerblue, 0 0 6px dodgerblue, 0 0 8px dodgerblue, 0 0 10px dodgerblue, 0 0 12px dodgerblue;
}

.green {
    color: limegreen;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px lime, 0 0 6px lime, 0 0 8px lime, 0 0 10px lime, 0 0 12px lime;
}

.load .circle {
    border: 2px solid steelblue;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: relative;
    top: calc(50% - 5px);
    margin-left: 10px;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px dodgerblue, 0 0 6px dodgerblue, 0 0 8px dodgerblue, 0 0 10px dodgerblue, 0 0 12px dodgerblue;
    animation: bounce 1s infinite;
}

.load #two {
    animation-delay: 300ms;
}

.load #three {
    animation-delay: 600ms;
}

@keyframes bounce {
    0% { transform: translate(0px,0px); }
    8% { transform: translate(0px,-20px); }
    24% { transform: translate(0px,5px); }
    30% { transform: translate(0px,0px); }
    100% { transform: translate(0px,0px); }
}

#slider {
    height: 100%;
    width: 100%;
}

#slider img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#slider #img-2, #slider #img-3, #slider #img-4 {
    left: 100%;
    animation: slide 1s forwards;
}

#slider #img-2 {
    animation-delay: 500ms;
}

#slider #img-3 {
    animation-delay: 1500ms;
}

#slider #img-4 {
    animation-delay: 2500ms;
}

@keyframes slide {
    0% { left: 100%; }
    100% { left: 0%; }
}